/* 
    Document   : style
    Created on : May 22, 2014, 10:20:52 AM
    Author     : nolenw1
    Description:
        Purpose of the stylesheet follows.
*/

/* ==========================================================================
	    BASE
========================================================================== */
body
{
    background-color: #e0e0e0;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #333;
}


/* ==========================================================================
	    LAYOUT
========================================================================== */



/* ==========================================================================
	    MODULE
========================================================================== */



/* ==========================================================================
	    STYLE
========================================================================== */



/* ==========================================================================
	    THEME
========================================================================== */


/*
* === MEDIA QUERIES ===
*/



